<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spps.mandal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ayyappa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".InternetConnectivity.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".InternetConnectivity.NetworkChangeReceiver"/>
        <activity android:name=".CropImage.CropImage" />
        <activity android:name=".CropImage.MonitoredActivity"/>
        <activity android:name=".Login"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Register"/>
        <activity android:name=".AddYaatra" android:label="Add Details"/>
        <activity android:name=".EditYaatra" android:label="Edit Details"/>
        <activity android:name=".ImageForAds"/>
        <activity android:name=".Feedback"  android:label="Feedback"/>
        <activity android:name=".YaatraList"  android:label="List Filter"/>
        <activity android:name=".ShowYaatra"  android:label="List"/>

    </application>

</manifest>